body{
  font-family: sans-serif;
  color: #333;
}

a{
  text-decoration: none;
  color: #333;
  padding-right: 30px;
  padding-left: 30px;
}
.header{
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  border-bottom: solid 2px green;
}
.ajikko{
  padding: 0px;
  width: 100px;
  height: 100px;
  
}
.nav {
  display: flex;
  list-style: none;
  padding: 0px;
  
}

li{
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: solid 1px #333;
}

.top{
  border-bottom: solid 2px green;
  background-image: url('https://github.com/shopaj/tougarashi/blob/master/topimg.JPG?raw=true');
  background-size: cover;
  text-align: center;
  height: 300px;
}

.top-title{
  font-family: genkaimincho;
  font-weight: bold;
  font-size: 50px;
  margin: 0px;
  padding: 40px 0px 10px 0px;

}

.top-descript{
  font-family: genkaimincho;
  font-size: 60px;
  color: red;
  margin: 0px;
  padding: 20px 0px 0px 0px;
}

/* 透過のための白幕 */
.top-text{
  height: 100%;
  background: rgba(255, 255, 255,0.35 );
}

.main{
  display: flex;
  margin: 0 auto;
}

.main-part{
  width: 33%;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  border: solid 1px gray;
}

.main-part img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 10px 10px ;
}

.main-descript{
  padding-right: 20%;
  padding-left: 20%;
}

.fa-twitter-square{
  color: rgb(11, 111, 173);
}

.fa-facebook-square{
  color: rgb(28, 51, 99);
}

.footer{
  padding-right: 20%;
  padding-left: 40%;
}

.after{
  padding-right: 20%;
  padding-left: 20%;
}
